.card {
    box-shadow: 0 1rem 3rem rgba(rgb(37, 32, 32), .175);
    color: rgb(0 102 169);
    width: 900px;
}

.gigInfo {
    padding: 20px 0px;
    color: rgb(18 57 110);
}

.cardTitle {
    color: rgb(18 57 110);
}

.bordered_button {
    margin: 20px 0px;
    border: 1px dotted black !important;
    padding: 10px !important;
    height: 100px !important;
    width: 100px !important;
    background-color: white !important;
    color: black !important;
    font-size: 55px !important;
    font-weight: 600 !important;
    transition: all 0.3s ease;
}

.bordered_button:hover {
    background-color: black !important;
    color: white !important;
}
