.container{
    height: 100vh;
    display: flex;
}
.formContainer{
    width: 30%;
    margin: auto;
}
.signup{
    text-align: right;
    margin: -39px;
    padding-right: 42px;
    
}
.error{
    margin: 10px 0px;
    padding: 3px;
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0.302);
    box-shadow: 3px;
    color: rgba(255, 0, 0, 0.442);
}