.nav_container{
    background-color: rgba(10, 10, 142, 0.698) !important;
    color:#FFF !important;
}
.pnav_color{
    color:#FFF !important;
}
.nav_search{
    width:50%;
    margin-left: 4rem;
}
.online{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#22CC7A;
    position: relative;
    right: -34px;
    top: -43px;
}
.messageonline{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#22CC7A;
    position: relative;
    right: -24px;
    top: -34px;
}